body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: floralwhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 60%;
  height: 60vh;
  flex-direction: column;
}

form {
  width: 100%;
}

.todo-container {
  max-width: 100%;
  display: flex;
  background-color: antiquewhite;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid black;
}

.buttons {
  margin-left: auto;
}

.list-wrapper {
  padding: 10px;
  border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 40%;
  }
}
